@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Notable&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

}
html,body{
    width: 100%;
}
body{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;

    background-color:rgba(21, 21, 21);
    color:white;
}
a{
    text-decoration: none;
    color: white;
}
main{
    display: none;

}
.next{
    background: transparent;
    left: 4vw;
    bottom: 7vh;
    border: transparent;
    position: fixed;
    font-size: 3rem;
    color:white;
    font-family: 'Do Hyeon', sans-serif;
    z-index:10;
    animation: getbigger 2.1s ease-in-out infinite;
}
.next:hover{
    transform: translate(0,-30%);
    cursor: pointer;
}
.top{
    background: transparent;
    border: double;
    border-radius: 50%;
    position: fixed;
    font-size: 2rem;
    color:white;
    font-family: 'Do Hyeon', sans-serif;
    z-index:10;
    bottom: 7vh;
    right: 4vw;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    animation: shine 3s ease-in-out infinite;
}
.loader-wrap{
    width: 100vw;
    height: 100vh;
    background-color: #111;
    top:0;
    left:0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    font-size: 10vw;
    font-family: 'Do Hyeon', sans-serif;
    animation: shine 1.3s ease-in-out infinite;
}
.section{
    text-align: center;
    min-height: 100vh;
    padding: 5rem auto;
}

.imgs{
    position: relative;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#img1{
    background: url(https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center/cover fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#img1 p{
    font-size:5vw;
    font-family: 'Notable', sans-serif;
}
#img2{
    background: url(https://images.unsplash.com/photo-1582443242920-f6dd3b476827?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center/cover fixed;
}
#img3{
    background: url(https://images.unsplash.com/photo-1533560904424-a0c61dc306fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center/cover fixed; 
}
#img4{
    background: url(https://images.unsplash.com/photo-1506197061617-7f5c0b093236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1005&q=80) no-repeat center/cover fixed;
}
.texts{
    font-size:4vw;
}
#text1{
    font-size: 15vw;
    font-weight: bold;
    font-family: 'Notable', sans-serif;
    letter-spacing: 1rem;
}

#go-to-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh 10vw;
    height: 30vh;
    
}
.start-btn{
    background: transparent;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Notable', sans-serif;
    padding: 10px 10px;
    font-size: 4vw;
    text-align: center;
    
    width:30vw;
    height: 20vh;
    top:40vh;
    
}
.start-btn a{
    cursor: pointer;
}
.show-btn{
    visibility:visible !important;
    border: transparent;
    /* animation: getbigger 2s ease-in-out; */
}
.show-cursor{
    visibility:visible !important;
    background: #fff;
    opacity: 0.4;
}
.cursor{
    visibility: hidden;
    width: 15rem;
    height: 15rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform:translate(-50%,-50%) ;
}

@keyframes shine{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes changeColor{
    0%{
        color: rgb(173, 25, 25);
    }
    50%{
        color:#FFF;
    }
    100%{
        color: rgb(173, 25, 25);
    }
}
@keyframes getbigger{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.0);
    }
}