@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Notable&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;

}
a{
    text-decoration: none;
    animation: glow 3s ease-in-out infinite;
}
.program-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.desc{
    margin-bottom: 2vh;
    font-size: 1.3rem;
}
.point{
    text-align: center;
    padding: 5vh 5vw;
    font-size: 1.5rem;
}
.img-container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center space-evenly;
}
.img-container{
    display: grid;
    /* flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw; */
    grid-template-columns: repeat(4,1fr);
}
.video-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.feel{
    height: 25vh;
    padding: 0 1vw;
}
.bigmuscle{
    width: 25vw;
}
.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.strongA, .weakB, .midC{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 5vw;
    margin:1vh 1vw;
    font-size: 2rem;
    border: 1px solid rgb(21,21,21);
    border-radius: 10px;
}
.dum{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.3rem;
    margin: 10vh 0;
}
.fordum{
    text-align: center;
}
@media(min-width:1000px){
    .program{
        display: flex;
        flex-direction: column;
    }
    .strongA, .weakB, .midC{
        display: flex;
        flex-direction: row;
    }
}
@keyframes glow{
    0%{
        color:red;
    }
    50%{
        color:black;
    }
    100%{
        color:red;
    }
}